PPxCFG  = 
;---------------------------------------------------------------------------
;・ユーザコマンド・関数
;---------------------------------------------------------------------------
_Command  = {
; AHK         = *launch %0..\AHK\AutoHotkey.exe %0..\AHK\Script\%*arg(1) "%*arg(2)"
GITSTRING   = *string o,root=%*extract(C"%%si'repoRoot'")
              *ifmatch 0,0%so'root' %: *script %'scr'%\module\repoStat.js,1
              %Osq *run -noppb -d:%*extract(C"%%si'repoRoot'") -pos:%*windowrect(,l),%*windowrect(,b) ppbw.exe -bootid:n -c nyagos -c mode 75,15&lua_f "%'myrepo'%\ppx\lua\git_string.lua" %0%\ %*arg(1)
MEMO        = *script %'scr'%\LFmemo.js,%'list'%\memo.xlf,%*arg(1)
RESULT      = %*script(%'scr'%\result.js,%*arg(1),%*arg(2))
POSTMARK    = *markentry -highlight:%*arg(1) %#;C
              *unmarkentry %#;C
PPVUD       = *if 0%*extract(C,"%%*js(PPx.Result=PPx.SyncView;)") %: %K-C"@%*arg(1)" %: *stop
              *execute C,*ppvoption id %*rightstr(%n,1) %: %K-C"@%*arg(1)@N"
PPBWT       = *if 0%NBA %: *return
              *string o,cname=CASCADIA_HOSTING_WINDOW_CLASS
              *job start %: *closeppx b*
              *setcust _winpos:ba=3,3,650,730,0
              *cd %si"gitRoot" %: wt -w 1 -p "PPb" %; wt -w 1 sp -H --size 0.2 -d %0 %0ppbw.exe -k *execute ba,*option common %%: %%; wt.exe -w 1 mf 3
              *script %'scr'%\waitRun.js,100,%so"cname" %: *wait 1200,2
              *job end %: *focus
}
