;・PPv 画像隠しメニュー
-|HM_ppv  =
HM_ppv = {
STOP,BYELLOW,_AUTO  , *execute C,*string p,vState=1
PREV,BCYAN,_AUTO    , *PPVUD UP
NEXT,BCYAN,_AUTO    , *PPVUD DOWN
x0.5,YELLOW,_AUTO   , *zoom 50 %: %k"p
x1.0,YELLOW,_AUTO   , *zoom 100 %: %k"p
x2.0,YELLOW,_AUTO   , *zoom 200 %: %k"p
_OPA,WHITE,_AUTO    , *script %'scr'%\Opacity.js
; SAVE,_BRO,_AUTO    , %k"\c':'/bin/temp/%FV" %: %K"@^s
PICT,BGREEN,_AUTO   , *script %'scr'%\rotateBGppv.js
_TOP,RED,_AUTO      , *topmostwindow %N,1
_BTM,RED,_AUTO      , %K"@WBOTTOM"
}
; Font,HEDE9EB,_AUTO = @W
; Sign,HFF0080,_AUTO = @C
