div.status-bar-item.plugin-obsidian-vimrc-support {
  /* 
    Move to bottom left corner and discard top/left/bottom space
    from container paddings.
   */
  order: -9999;

  /* 
    We have the :after pseudo-element next, so padding-right
    is not needed
    */
  padding-right: 5px;
  padding-left: 1em;

  font-weight: bold;
  font-size: 1.2em;
}

